

<template name="calculation">
    <div class="container">
        <div class="jumbotron">
            <h1>Calculation</h1>
            <p>Order Name: {{input.customer}}</p>
            <p>Order Date: {{input.entryDate}}</p>
            <p>Settings:
                <ul>
                    <li>Material Cost: {{rp settings.materialCost}}</li>
                    <li>Safety Factor: {{settings.safetyFactor}}</li>
                    <li>Operator Cost: {{rp settings.operatorCost}}</li>
                    <li>Efficiency Factor: {{settings.efficiencyFactor}}</li>
                    <li>Operator Waste Percent: {{settings.operatorWastePercent}} %</li>
                    <li>Time Created: {{settings.timeCreated}}</li>
                </ul>
            </p>
            <p>Paper used:
            <ul>
                <li>Name: {{paper.name}}</li>
                <li>Price: {{rp paper.price}}</li>
            </ul>
            </p>
            <p>Machine used:
            <ul>
                <li>Name: {{machine.name}}</li>
                <li>Speed: {{machine.speed}}</li>
                <li>Setup Time: {{machine.setupTime}}</li>
                <li># of Operator: {{machine.nOperator}}</li>
            </ul>
            </p>

            <p>Input: <a href="{{pathFor 'inputEdit' _id=input._id}}" class="btn btn-default" tabindex="-1">Edit</a>
                <ul>
                    <li>customer: {{input.customer}}</li>
                    <li>entryDate: {{input.entryDate}}</li>
                    <li>itemCode: {{input.itemCode}}</li>
                    <li>orderName: {{input.orderName}}</li>
                    <li>quantity: {{input.quantity}}</li>
                    <li>designAge: {{input.designAge}}</li>
                    <li>prodLength: {{input.prodLength}} m</li>
                    <li>prodWidth: {{input.prodWidth}} m</li>
                    <li>paperType: {{input.paperType}}</li>
                    <li>dieLength: {{input.dieLength}}</li>
                    <li>dieWidth: {{input.dieWidth}}</li>
                    <li>totalPiecesInDie: {{input.totalPiecesInDie}}</li>
                    <li>nDieColor: {{input.nDieColor}}</li>
                    <li>machineName: {{input.machineName}}</li>
                    <li>inkPaperCostPercent: {{input.inkPaperCostPercent}} %</li>
                </ul>
            </p>
        </div>

        <div class="container">
            <div class="container col-sm-6">
                <form class="form-horizontal">
                    <h3>Input</h3>
                    <div class="form-group">
                        <label for="targetProfitMargin" class="col-sm-3 control-label">Target Profit Margin</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="number" class="form-control" id="targetProfitMargin" placeholder="23" value="{{targetProfitMargin}}" tabindex="0">
                                <span class="input-group-addon">%</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container col-sm-6">
                <form class="form-horizontal">
                    <h3>Output</h3>
                    <p class="text-muted">(click outside to recalculate)</p>
                    <div class="form-group">
                        <label for="salesPricePerPiece" class="col-sm-3 control-label">Sales Price (piece)</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">Rp.</span>
                                <input type="text" class="form-control number" id="salesPricePerPiece" placeholder="118.94" value="{{totSalesPricePerPiece}}" tabindex="0">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="totalNetProfit" class="col-sm-3 control-label">Total Net Profit</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">Rp.</span>
                                <input type="text" class="form-control number" id="totalNetProfit" placeholder="2 333 444.98" value="{{totProfit}}" tabindex="0">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="totalSales" class="col-sm-3 control-label">Total Sales</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon">Rp.</span>
                                <input type="text" class="form-control number" id="totalSales" placeholder="56 789 000" value="{{totSalesPrice}}" tabindex="0">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container">
            <button class="btn btn-primary" tabindex="0" id="saveToOutput">Save to Output</button>
        </div>

        <div class="container col-md-10 text-center">
            <h1>Pre-costing Breakdown Total</h1>

            <table class="table table-hover table-condensed">
                <tbody>
                    <tr><th>Paper Cost</th>        <td class="text-right">{{rp totPaperCost}}</td><td></td><td></td><td></td></tr>
                    <tr><th>Ink Cost</th>          <td class="text-right">{{rp totInkCost}}</td><td></td><td></td><td></td></tr>
                </tbody>
                <tbody>
                    <tr><th>Total Material Cost</th>                          <td></td><td class="text-right">{{rp totMatCost}}</td><td></td><td></td></tr>
                    <tr><th>Total Labor Cost</th>                             <td></td><td class="text-right">{{rp totLaborCost}}</td><td></td><td></td></tr>
                    <tr><th>Total Overhead (only pre-press for now) Cost</th> <td></td><td class="text-right">{{rp totOverheadCost}}</td><td></td><td></td></tr>
                </tbody>
                <tbody>
                    <tr><th>Total Cost</th>        <td></td><td></td><td class="text-right">{{rp totCost}}</td><td></td></tr>
                    <tr><th>Profit Margin</th>     <td></td><td></td><td class="text-right">{{profitMargin}}</td><td>%</td></tr>
                    <tr><th>Profit</th>            <td></td><td></td><td class="text-right">{{rp profit}}</td><td></td></tr>
                    <tr><th>Total Profit</th>      <td></td><td></td><td class="text-right">{{rp totProfit}}</td><td></td></tr>
                </tbody>
                <tbody>
                    <tr><th>Total Sales Price</th> <td></td><td></td><td class="text-right">{{rp totSalesPrice}}</td><td></td></tr>
                </tbody>
            </table>
        </div>

        <div class="container col-md-10 text-center">
            <h1>Pre-costing Breakdown Per Piece</h1>

            <table class="table table-hover table-condensed">
                <tbody>
                    <tr><th>Paper Cost</th>        <td class="text-right">{{rp totPaperCostPerPiece}}</td><td></td><td></td><td></td><td></td></tr>
                    <tr><th>Ink Cost</th>          <td class="text-right">{{rp totInkCostPerPiece}}</td><td></td><td></td><td></td><td></td></tr>
                </tbody>
                <tbody>
                    <tr><th>Total Material Cost</th>                          <td></td><td class="text-right">{{rp totMatCostPerPiece}}</td><td></td><td></td><td></td></tr>
                    <tr><th>Total Labor Cost</th>                             <td></td><td class="text-right">{{rp totLaborCostPerPiece}}</td><td></td><td></td><td></td></tr>
                    <tr><th>Total Overhead (only pre-press for now) Cost</th> <td></td><td class="text-right">{{rp totOverheadCostPerPiece}}</td><td></td><td></td><td></td></tr>
                </tbody>
                <tbody>
                    <tr><th>Total Cost</th>        <td></td><td></td><td class="text-right">{{rp totCostPerPiece}}</td><td></td><td></td></tr>
                    <tr><th>Profit Margin</th>     <td></td><td></td><td class="text-right">{{profitMargin}}</td><td>%</td><td></td></tr>
                    <tr><th>Profit</th>            <td></td><td></td><td class="text-right">{{rp profitPerPiece}}</td><td></td><td></td></tr>
                    <tr><th>Total Profit</th>      <td></td><td></td><td class="text-right">{{rp totProfitPerPiece}}</td><td></td><td></td></tr>
                </tbody>
                <tbody>
                    <tr><th>Total Sales Price</th> <td></td><td></td><td class="text-right">{{rp totSalesPricePerPiece}}</td><td></td></tr>
                </tbody>
            </table>
        </div>

        <div class="container col-md-10 text-center">
            <h1>Pre-costing Breakdown Per m²</h1>

            <table class="table table-hover table-condensed">
                <tbody>
                    <tr><th>Paper Cost</th>        <td class="text-right">{{rp totPaperCostPerM2}}</td><td></td><td></td><td></td></tr>
                    <tr><th>Ink Cost</th>          <td class="text-right">{{rp totInkCostPerM2}}</td><td></td><td></td><td></td></tr>
                </tbody>
                <tbody>
                    <tr><th>Total Material Cost</th>                          <td></td><td class="text-right">{{rp totMatCostPerM2}}</td><td></td><td></td></tr>
                    <tr><th>Total Labor Cost</th>                             <td></td><td class="text-right">{{rp totLaborCostPerM2}}</td><td></td><td></td></tr>
                    <tr><th>Total Overhead (only pre-press for now) Cost</th> <td></td><td class="text-right">{{rp totOverheadCostPerM2}}</td><td></td><td></td></tr>
                </tbody>
                <tbody>
                    <tr><th>Total Cost</th>        <td></td><td></td><td class="text-right">{{rp totCostPerM2}}</td><td></td></tr>
                    <tr><th>Profit Margin</th>     <td></td><td></td><td class="text-right">{{profitMargin}}</td><td>%</td></tr>
                    <tr><th>Profit</th>            <td></td><td></td><td class="text-right">{{rp profitPerM2}}</td><td></td></tr>
                    <tr><th>Total Profit</th>      <td></td><td></td><td class="text-right">{{rp totProfitPerM2}}</td><td></td></tr>
                </tbody>
                <tbody>
                    <tr><th>Total Sales Price</th> <td></td><td></td><td class="text-right">{{rp totSalesPricePerM2}}</td><td></td></tr>
                </tbody>
            </table>
        </div>

        <div class="container">
            <div class="container text-center col-md-4">
                <h1>Dimension</h1>

                <h3>Product</h3>
                <table class="table table-hover table-condensed">
                    <tbody>
                        <tr><th>Length</th>     <td class="text-right">{{prodLength}}</td><td>m</td></tr>
                        <tr><th>Width</th>      <td class="text-right">{{prodWidth}}</td><td>m</td></tr>
                        <tr><th>Total Area</th> <td class="text-right">{{prodTotArea}}</td><td>m² / biji</td></tr>
                    </tbody>
                </table>

                <h3>Cylinder and Die</h3>
                <table class="table table-hover table-condensed">
                    <tbody>
                        <tr><th>Cylinder Diameter</th>      <td class="text-right">{{cylDiameter}}</td><td>m</td></tr>
                        <tr><th>Die Length</th>             <td class="text-right">{{dieLength}}</td><td>m</td></tr>
                        <tr><th>Die Width</th>              <td class="text-right">{{dieWidth}}</td><td>m</td></tr>
                        <tr><th>Total Die Area</th>         <td class="text-right">{{totDieArea}}</td><td>m²</td></tr>
                        <tr><th>Total Piece in 1 Die</th>   <td class="text-right">{{totPiecesIn1Die}}</td><td>pcs</td></tr>
                    </tbody>
                </table>

                <h3>Pre-Press</h3>
                <table class="table table-hover table-condensed">
                    <tbody>
                        <tr><th>Pre-press Material Cost</th>     <td class="text-right">{{rp prePressMatCost}}</td><td>per m²</td></tr>
                        <tr><th>Pre-press Area per cylinder</th> <td class="text-right">{{prePressArea}}</td><td>m²</td></tr>
                        <tr><th>Number of Die</th>               <td class="text-right">{{nDie}}</td><td></td></tr>
                        <tr><th>Pre-press Safety Factor</th>     <td class="text-right">{{prePressSafetyFactor}}</td><td></td></tr>
                        <tr><th>Total Pre-press Cost</th>        <td class="text-right">{{rp totPrePressCost}}</td><td></td></tr>
                    </tbody>
                </table>
            </div>

            <div class="container text-center col-md-4">
                <h1>Material</h1>

                <h3>Paper</h3>
                <table class="table table-hover table-condensed">
                    <tbody>
                        <tr><th>Material Type</th>  <td class="text-right">{{paperType}}</td><td></td></tr>
                        <tr><th>Material Price</th> <td class="text-right">{{rp paperPrice}}</td><td>per m²</td></tr>
                        <tr><th>Total</th>          <td class="text-right">{{rp totPaperPrice}}</td><td>per m²</td></tr>
                    </tbody>
                </table>

                <h3>Ink</h3>
                <table class="table table-hover table-condensed">
                    <tbody>
                        <tr><th>Ratio Ink/Paper Cost</th> <td class="text-right">{{input.inkPaperCostPercent}}</td><td>%</td></tr>
                        <tr><th>Ink Cost</th>             <td class="text-right">{{rp totInkCost}}</td><td></td></tr>
                    </tbody>
                </table>
            </div>

            <div class="container text-center col-md-4">
                <h1>Manufacturing</h1>

                <h3>Order Quantity & Packaging</h3>
                <table class="table table-hover table-condensed">
                    <tbody>
                        <tr><th>Quantity</th>                   <td class="text-right">{{quantity}}</td><td>pcs</td></tr>
                        <tr><th>Total Finished Product Area</th><td class="text-right">{{totFinishedProdArea}}</td><td>m²</td></tr>
                    </tbody>
                </table>

                <h3>Manufacturing Process</h3>
                <table class="table table-hover table-condensed">
                    <tbody>
                        <tr><th>Machine Name</th>           <td class="text-right">{{machineName}}</td><td></td></tr>
                        <tr><th>Machine Speed</th>          <td class="text-right">{{machineSpeed}}</td><td>m/min</td></tr>
                        <tr><th>Configuration Width</th>    <td class="text-right">{{confWidth}}</td><td>m</td></tr>
                        <tr><th>Number of Operator</th>     <td class="text-right">{{nOperator}}</td><td></td></tr>
                        <tr><th>Operation Setup Time</th>   <td class="text-right">{{setupTime}}</td><td>jam</td></tr>
                        <tr><th>Operator Cost</th>          <td class="text-right">{{rp operatorCost}}</td><td>per jam</td></tr>
                        <tr><th>Efficiency Factor</th>      <td class="text-right">{{efficiencyFactor}}</td><td>%</td></tr>
                    </tbody>
                </table>

                <h3>Waste Summary Per Piece</h3>
                <table class="table table-hover table-condensed">
                    <tbody>
                        <tr><th>Operator Waste Percent</th> <td class="text-right">{{operatorWastePerc}}</td><td>%</td></tr>
                        <tr><th>Operator Waste</th>         <td class="text-right">{{operatorWaste}}</td><td>m²/pc</td></tr>
                        <tr><th>Config Waste</th>           <td class="text-right">{{configWaste}}</td><td>m²/pc</td></tr>
                        <tr><th>Config Waste Percent</th>   <td class="info text-right">{{configWastePerc}}</td><td>%/pc</td></tr>
                    </tbody>
                </table>

            </div>
        </div>

        <div class="container col-md-8 text-center">
            <h1>Specification Summary</h1>

            <h3>Paper Area</h3>
            <table class="table table-hover table-condensed">
                <tbody>
                    <tr><th>Total Finished Product Area</th> <td class="text-right">{{totFinishedProdArea}}</td><td></td><td>m²</td><td class="info">{{perc nominator=totFinishedProdArea denominator=totManufacturingArea}}</td></tr>
                    <tr><th>Total Config Waste</th>          <td class="text-right">{{totConfigWaste}}</td><td></td><td>m²</td><td class="info">{{perc nominator=totConfigWaste denominator=totManufacturingArea}}</td></tr>
                    <tr><th>Total Operator Waste Target</th> <td class="text-right">{{totOperatorWasteTarget}}</td><td></td><td>m²</td><td class="info">{{perc nominator=totOperatorWasteTarget denominator=totManufacturingArea}}</td></tr>
                </tbody>
                <tbody>
                    <tr><th>Total Manufacturing Area</th>    <td></td><td class="text-right">{{totManufacturingArea}}</td><td>m²</td><td class="info">100 %</td></tr>
                </tbody>
            </table>

            <h3>Paper Cost</h3>
            <table class="table table-hover table-condensed">
                <tbody>
                    <tr><th>Total Finished Product Cost</th> <td class="text-right">{{rp totFinishedProdCost}}</td><td></td><td>{{perc nominator=totFinishedProdCost denominator=totManufacturingCost}}</td></tr>
                    <tr><th>Total Config Waste Cost</th>     <td class="text-right">{{rp totConfigWasteCost}}</td><td></td><td>{{perc nominator=totConfigWasteCost denominator=totManufacturingCost}}</td></tr>
                    <tr><th>Total Operator Waste Cost</th>   <td class="text-right">{{rp totOperatorWasteCost}}</td><td></td><td>{{perc nominator=totOperatorWasteCost denominator=totManufacturingCost}}</td></tr>
                </tbody>
                <tbody>
                    <tr><th>Total Manufacturing Cost</th>    <td></td><td class="text-right">{{rp totManufacturingCost}}</td><td>100 %</td></tr>
                </tbody>
            </table>

            <h3>Manufacturing</h3>
            <table class="table table-hover table-condensed">
                <tbody>
                    <tr><th>Total Length</th>           <td class="info text-right">{{totLength}}</td><td></td><td>m</td></tr>
                    <tr><th>Total Production Time</th>  <td class="info text-right">{{totProdTime}}</td><td></td><td>hrs</td></tr>
                    <tr><th>Total Man Hour</th>         <td class="info text-right">{{totManHour}}</td><td></td><td>hrs</td></tr>
                </tbody>
            </table>

            <h3>Ink</h3>
            <table class="table table-hover table-condensed">
                <tbody>
                    <tr><th>Total Color Cost</th> <td class="text-right">{{rp totColorCost}}</td><td></td><td></td></tr>
                </tbody>
            </table>

        </div>

    </div>
</template>
