<template name="layout">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#" tabindex="-1">
                    <img alt="Semarto Holiday" src="favicon.ico" width="20em" height="20em">
                </a>
                {{> burgerMenuIcon}}
                <a class="navbar-brand" href="{{pathFor 'homepage'}}" tabindex="-1">Semarto Holiday</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {{#if currentUser}}
                        {{#if isInRolez 'admin'}}
                            <li><a href="{{pathFor 'allBalances'}}" tabindex="-1">Everybody's Balance</a></li>
                            <li><a href="{{pathFor 'personnels'}}" tabindex="-1">Personnels</a></li>
                        {{/if}}
                    {{/if}}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>
            </div>
        </div>
    </nav>
    {{> yield}}
</template>

<template name="burgerMenuIcon">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</template>

<template name="homepage">
    <div class="container">
        {{#if currentUser}}
            {{#if isInRolez 'admin'}}
                <a href="{{pathFor 'allBalances'}}" class="btn btn-default btn-lg" role="button" style="margin-bottom: 0.5em;"><span class="glyphicon glyphicon-folder-open" style="font-size: 2em;"></span><h3>Everybody's Balances</h3></a>
                <a href="{{pathFor 'personnels'}}" class="btn btn-default btn-lg" role="button" style="margin-bottom: 0.5em;"><span class="glyphicon glyphicon-user" style="font-size: 2em;"></span><h3>Personnels</h3></a>
            {{/if}}

            {{> info userId=userId}}
            {{> balanceTable userId=userId}}
            {{> eventsTable userId=userId}}
        {{else}}
            <div class="jumbotron">
                <h1>You're not logged in!</h1>
                <p>If you can't log in, ask your admin.</p>
            </div>
        {{/if}}
    </div>
</template>

<template name="allBalances">
    <div class="container">
        <div class="container col-md-3">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr class="user">
                        <th>Name</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each user in users}}
                        <tr data-id="{{user._id}}" class="user {{#if isSelected user._id}}active{{/if}}"><td>{{user.profile.name}}</td><td>{{getBalance user._id}}</td></tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

        <div class="container col-md-9">
            {{#if userId}}
                {{> info userId=userId}}
                {{> buttons userId=userId}}
                {{> balanceTable userId=userId}}
                {{> eventsTable userId=userId}}
            {{else}}
                <div class="well"><strong>← Select one</strong></div>
            {{/if}}
        </div>
    </div>
</template>

<template name="info">
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-3">
            <col class="col-xs-5">
        </colgroup>
        <tbody>
        <tr>
            <th scope="row">Name</th>
            <td>{{name userId}}</td>
        </tr>
        <tr>
            <th scope="row">Start Date</th>
            <td>{{toSimpleDate details.startDate}}</td>
        </tr>
        <tr class="info">
            <th scope="row">Balance</th>
            <td><strong>{{details.balance}}</strong></td>
        </tr>
        </tbody>
    </table>
</template>

<template name="buttons">
    <p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#ptoModal">
            Use Paid Time Off
        </button>
        <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#cashOutModal">
            Cash Out
        </button>
        <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#redemptionModal">
            Redemption On The Wage
        </button>

        <!-- Modal -->
        <div class="modal fade" id="ptoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Use Paid Time Off</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="ptoStartDate" class="control-label">PTO starts at:</label>
                                <input type="date" class="form-control" id="ptoStartDate">
                            </div>
                            <div class="form-group">
                                <label for="length" class="control-label">For how many days?</label>
                                <input type="number" class="form-control" id="ptoLength">
                            </div>
                            <div class="form-group">
                                <label for="description" class="control-label">Description:</label>
                                <textarea class="form-control" id="ptoDescription"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="addPTO">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="cashOutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Cash Out</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="ptoStartDate" class="control-label">Cash out at:</label>
                                <input type="date" class="form-control" id="cashOutDate">
                            </div>
                            <div class="form-group">
                                <label for="length" class="control-label">How many days are we cashing out?</label>
                                <input type="number" class="form-control" id="cashOutLength">
                            </div>
                            <button type="button" class="btn btn-primary" id="cashOutAll">Use whatever available <span class="badge">{{details.balance}}</span></button>
                            <br/><p>Company has to pay this personnel: {{daysToCashOut}} * 1.5 * gaji / 22 =?</p>
                            <div class="form-group">
                                <label for="description" class="control-label">Description:</label>
                                <textarea class="form-control" id="cashOutDescription"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="addCashOut">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="redemptionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Wage Redemption</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="ptoStartDate" class="control-label">Wage redemption at:</label>
                                <input type="date" class="form-control" id="redemptionDate">
                            </div>
                            <div class="form-group">
                                <label for="length" class="control-label">How many days are we salvaging?</label>
                                <input type="number" class="form-control" id="redemptionLength">
                            </div>
                            <button type="button" class="btn btn-primary" id="redemptionAll">Salvage all <span class="badge">{{details.balance}}</span></button>
                            <br/><p>Company has cut wage for this personnel: {{daysToSalvage}} * 1.5 * gaji / 22 =?</p>
                            <div class="form-group">
                                <label for="description" class="control-label">Description:</label>
                                <textarea class="form-control" id="redemptionDescription"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="addRedemption">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </p>
</template>

<template name="balanceTable">
    <h3>Balance Table</h3>
    <table class="table table-bordered table-condensed table-hover">
        <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-2">
            <col class="col-xs-1">
            <col class="col-xs-2">
        </colgroup>
        <thead>
        <tr>
            <th>Plus</th>
            <th>Date</th>
            <th>Minus</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
        {{#if details.zipped}}
            {{#each d in details.zipped}}
                <tr><td>{{d.[0].type}}</td><td>{{d.[0].date}}</td><td>{{d.[1].type}}</td><td>{{d.[1].date}}</td></tr>
            {{/each}}
        {{else}}
            <tr><td colspan="5">No details is found.</td></tr>
        {{/if}}
        </tbody>
    </table>
</template>

<template name="eventsTable">
    <h3>Events</h3>
    <table class="table table-bordered">
        <colgroup>
            <col class="col-xs-1">
            <col class="col-xs-2">
            <col class="col-xs-1">
            <col class="col-xs-4">
            {{#if isInRolez 'admin'}}<col class="col-xs-1">{{/if}}
        </colgroup>
        <thead>
        <tr>
            <th>Type</th>
            <th>Date</th>
            <th>Length</th>
            <th>Description</th>
            {{#if isInRolez 'admin'}}<th></th>{{/if}}
        </tr>
        </thead>
        <tbody>
        {{#if events userId}}
            {{#each e in events userId}}
                <tr data-id="{{e.id}}" data-type="{{e.type}}" data-date="{{e.eventStartDate}}" data-description="{{e.description}}"><td>{{e.type}}</td><td>{{toSimpleDate e.eventStartDate}}</td><td>{{e.length}} day(s)</td><td class="description">{{e.description}}</td>{{#if isInRolez 'admin'}}<td><button class="btn btn-default btn-sm deleteEvent"><span class="glyphicon glyphicon-remove"></span></button></td>{{/if}}</tr>
            {{/each}}
        {{else}}
            <tr><td colspan="4">No event is found.</td></tr>
        {{/if}}
        </tbody>
    </table>
</template>

<template name="personnels">
    <div class="container">
        <h3>Personnels</h3>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th>Email(s)</th>
                    <th>Start Working Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each user in users}}
                    <tr data-id="{{user._id}}"><td>{{user.profile.name}}</td><td><button class="btn btn-default btn-sm editName"><span class="glyphicon glyphicon-pencil"></span></button></td><td>{{#each e in user.emails}}{{e.address}} {{/each}}</td><td>{{getSimpleStartDate user._id}}</td><td><button class="btn btn-default btn-sm editStartDate"><span class="glyphicon glyphicon-pencil"></span></button></td></tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</template>

<template name="unauthorized">
    <div class="container text-center center-block">
        <span class="glyphicon glyphicon-minus-sign"></span> Ga boleh
    </div>
</template>